<ul class="list-group">
  <li class="list-group-item active">{{question[0]}}</li>
  <li class="list-group-item">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Answer
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{question[1]}}</p>
      </mat-expansion-panel>
    </mat-accordion>
  </li>
</ul>



