<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <mat-icon class="mat-icon-rtl-mirror" svgIcon="thumb-up"></mat-icon>
      Exam Generator
    </a>
  </div>
</nav>

<ng-container>
  <mat-tab-group class="w-50 overflow-hidden p-3 m-auto">
    <mat-tab label="Topic">
      <app-topic></app-topic>
    </mat-tab>
    <mat-tab label="Text">
      <app-text></app-text>
    </mat-tab>
    <mat-tab label="HKA">
      <app-hka></app-hka>
    </mat-tab>
  </mat-tab-group>

</ng-container>


<router-outlet></router-outlet>
