<mat-form-field class="w-100 mt-5" appearance="fill">
  <mat-label>Lecture</mat-label>
  <mat-select [(ngModel)]="topic">
    <mat-option *ngFor="let topic of lectures" [value]="topic.value">
      {{topic.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-divider></mat-divider>

<!--<div class="example-label-container">-->
<!--  <label id="example-name-label" class="example-name-label">Difficulty: {{getDifficulty()}}</label>-->
<!--</div>-->
<!--<mat-slider-->
<!--  thumbLabel="false"-->
<!--  [(ngModel)]="difficulty"-->
<!--  tickInterval="1"-->
<!--  step="1"-->
<!--  min="0"-->
<!--  max="2"-->
<!--  aria-label="units" class="w-50"></mat-slider>-->

<!--<mat-divider></mat-divider>-->

<label id="example-radio-group-label">Choose a question type</label>
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="questionType">
  <mat-radio-button class="example-radio-button" *ngFor="let type of questionTypes" [value]="type">
    {{type}}
    <mat-checkbox *ngIf="questionType === 'Multiple Choice Question' && type  === 'Multiple Choice Question'"
                  class="example-margin" [(ngModel)]="multiple">Multiple correct answers</mat-checkbox>
  </mat-radio-button>
</mat-radio-group>

<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div *ngIf="questionType === 'Multiple Choice Question'" class="mt-2">
  <app-mc-layout *ngIf="question.length < 2"></app-mc-layout>
  <app-mc-layout *ngIf="question.length > 2" [question]="question"></app-mc-layout>
</div>
<div *ngIf="questionType === 'Text Question'" class="mt-2">
  <app-ot-layout *ngIf="question.length < 1"></app-ot-layout>
  <app-ot-layout *ngIf="question.length > 1" [question]="question"></app-ot-layout>
</div>

<button [disabled]="valid()" class="mt-2" mat-stroked-button color="accent"
        aria-label="Example icon button with a bookmark icon" (click)="getQuestion()">
  Generate Question
</button>
