<mat-form-field class="mt-5 w-100" appearance="fill">
  <mat-label>Topic</mat-label>
  <input type="text"
         placeholder="Pick one"
         aria-label="Topic"
         matInput
         #message
         [formControl]="topic"
         [matAutocomplete]="auto">
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
  <mat-hint align="end">{{message.value.length}} / 100</mat-hint>
  <button *ngIf="topic" matSuffix mat-icon-button aria-label="Clear" (click)="topic.setValue('')">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<mat-divider></mat-divider>

<label id="example-radio-group-label">Choose a question type</label>
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="questionType">
  <mat-radio-button class="example-radio-button" *ngFor="let type of questionTypes" [value]="type">
    {{type}}
    <mat-checkbox *ngIf="questionType === 'Multiple Choice Question' && type  === 'Multiple Choice Question'"
                  class="example-margin" [(ngModel)]="multiple">Multiple correct answers
    </mat-checkbox>
  </mat-radio-button>
</mat-radio-group>

<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div *ngIf="questionType === 'Multiple Choice Question'" class="mt-2">
  <app-mc-layout *ngIf="question.length < 2"></app-mc-layout>
  <app-mc-layout *ngIf="question.length > 2" [question]="question"></app-mc-layout>
</div>
<div *ngIf="questionType === 'Text Question'" class="mt-2">
  <app-ot-layout *ngIf="question.length < 1"></app-ot-layout>
  <app-ot-layout *ngIf="question.length > 1" [question]="question"></app-ot-layout>
</div>

<button [disabled]="valid()" class="mt-2" mat-stroked-button color="accent"
        aria-label="Example icon button with a bookmark icon" (click)="getQuestion()">
  Generate Question
</button>
